/* KeyMetrics.css */
.keymetrics {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
    width: 100%;
    padding: 2.55em 4em;
}

@media (max-width: 768px) {
    .keymetrics {
        padding: 1em 2em;
        column-gap: 2em;
    }
}

.keymetrics-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
}

@media (max-width: 768px) {
    .keymetrics-icon {
        width: 6rem;
        height: 6rem;
    }
}

.keymetrics-info {
    display: flex;
    flex-flow: column nowrap;
}

.keymetrics-value {
    font-weight: 700;
    font-size: 18px;
    color: #282d30;
}

@media (max-width: 768px) {
    .keymetrics-value {
        font-size: 2rem;
    }
}

.keymetrics-name {
    font-weight: 500;
    font-size: 14px;
    color: #74798c;
}

@media (max-width: 768px) {
    .keymetrics-name {
        font-size: 1.5rem;
    }
}